
/* exercice1 */
/* h1 {
    margin: 40px auto;
    width: 150px;
    height: 60px;
   background-color: orangered;
   display: flex;
   justify-content: center;
   align-items: center;
    color: white;
    font-weight: bold;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: skew(10deg,8deg);
    background-color: orangered;
    z-index: -1;
}
h1::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    transform: skew(-10deg,-8deg);
    background-color: orangered;
    z-index: -1;
} */

/* exercice2 */
/* h1 {
    margin: 40px auto;
    width: 150px;
    height: 60px;
   background-color: rgb(21, 130, 138);
   display: flex;
   justify-content: center;
   align-items: center;
    color: white;
    font-weight: bold;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    width: 50%;
    height: 100%;
    transform: skew(18deg);
    background-color: rgb(21, 130, 138);
    z-index: -1;

}
h1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 15px;
    height: 100%;
    transform: skew(18deg);
    background-color: rgb(21, 130, 138);
 
} */

/* exercice3 */


/* div {
    width: 200px;
    height: 200px;
    background-color: rgb(8, 101, 145);
    margin: 300px auto;
    border-bottom: 5px solid black;
    position: relative;
    box-sizing: border-box;
    
}

div::before {
    content: "";
    position: absolute;
    top: -142px;
    left: 0px;
    background-color: black;
    width:142px;
    height: 142px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform-origin: left bottom;
    transform: rotate(45deg);
    box-sizing: border-box;
    
}

div::after {
    content: "ElZero";
    position: absolute;
    left:9px;
    bottom: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */

/* exercice5 */

div {
    position: relative;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: center center;
    perspective: 600px;
    
}

div::before {
    content: "Front";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 18, 141);
    backface-visibility: hidden;
    font-size: 30px;
   
}
div::after {
    content: "Back";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 117, 145);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    font-size: 30px;
   
    

}

div:hover {
    transform: rotateY(-180deg);
}


 /* div {
     width:200px;
     height: 200px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -100px;
     margin-top: -100px;
     transform-style: preserve-3d;
     perspective: 600px;
     transition: transform 1s;
 }

 div::before {
     content: "Front";
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgb(175, 18, 141);
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 30px;

 }

 div::after {
     content: "Back";
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgb(7, 117, 145);
     backface-visibility: hidden;
     transform: rotateX(180deg);
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 30px;

 }
 div:hover {
     transform: rotateX(180deg);
 } */


