/* .normal-div1 {
    display: inline-block;
    border: 5px solid red;
    outline: 5px solid black;
    margin-right: 10px;
}
.normal-div2 {
    display: inline-block;
    border-width:  5px 5px;
    border-color: blue green blue green;
    border-style: solid;
    outline: 5px solid black;
    margin-right: 10px;
}
.normal-div3 {
    display: inline-block;
    border-width:  5px ;
    border-style: dashed;
    border-color: red  green blue yellow;
    outline: 5px solid black;
} */
/* .normal-div1 {
    background-color: #80808024;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.normal-div1::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 4px;
    width: 4px;
    background-color: #ec4b9a;
}
.normal-div2::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 4px;
    width: 4px;
    background-color:#5494a4;
}
.normal-div2 {
    width: 400px;
    background-color: #80808024;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
} */
.normal-div1 {
    background-color: #80808024;
    width: 400px;
    margin-bottom: 10px;
    padding: 11px;
  
}
.one {
    border-left: 4px solid red;
    padding: 4px;
}

    



